<%= form_for :setting, url: home_update_path, method: :'PUT' do |f| %>
 <input name="_method" type="hidden" value="put" />
</div>
  <div class="field">
    <%= f.label :setting%><br/>
    <%= f.text_field :inboxlimit%>
  </div>
  <div class="actions">
    <%= f.submit"save"  %>
  </div>
<% end %>
