<table>
<tr>
    <th>inboxlimit</th>
    <tr>
	<% @settings.each do |setting| %>
	<td><%= setting.inboxlimit %></td>
	<td><%= link_to "edit", edit_home_path(setting) %></td>
<td><%= link_to "show",home_index_path(setting) %></td>
</tr> 
</div>
<% end %>

