







<p>
<strong>TO:</strong>
<%= @message.to %>
</p>
<p>
<strong>From</strong>
<%= @message.user_id%>
</p>

<strong>MESSAGE</strong>
<%= @message.body.html_safe %>
<p>
<strong>FILE</strong>
<%= @message.image %></p>
